{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ТЕТРИС</title>
    <link rel="stylesheet" href="{% static 'play/css/style.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <ul class="menu-ul">
                <li><a class="menu-text" href="#">Главная</a></li>
                <li><a class="menu-text" href="#">Профиль</a></li>
                <li><a class="menu-text" href="#">О Нас</a></li>
            </ul>
        </div>
        <div class="showcase">
            <h1>TYT VITRINA</h1>
        </div>
        <div id="game">
            <div class="canvas-wrapper">
                <canvas id="game-canvas" height="400px", width="200px"></canvas>
            </div>
        </div>
</body>
</html>
