{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ИДИТЕ НАХУЙ</title>
    <link rel="stylesheet" href="{% static 'play/css/style.css'%}" type="text/css">
</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <ul class="menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Профиль</a></li>
                <li><a href="#">О Нас</a></li>
            </ul>
        </div>
    </div>
</body>
</html>